<h1>Facilities</h1>

<% if(user && (user.role === 'admin' || user.role === 'facilityOwner')) { %>
  <a href="/facility/add" class="btn btn-outline-primary">Add Facility</a>
<% } %>

<div id="facility-list">
    <% facilities.forEach(facility => { %>
        <div class="facility-card">
            <h2><%= facility.name %></h2>
            <p><%= facility.description %></p>
            <button onclick="window.location.href='/facility/detail?id=<%= facility._id %>'">View Details</button>
        </div>
    <% }); %>
</div>

<nav>
    <% if(!user) { %>
      <a href="/auth/google" class="btn btn-outline-primary">Sign in</a>
    <% } %>
</nav>
